@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear; 
    font-family: 'Comfortaa', cursive;
}
#toastBox{
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}
.toast{
    width: 400px;
    height: 70px;
    background: white;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    background-color: #7ddfa5;
    padding-bottom: 70px;
}
.container form{
    border-radius: 10px;
    padding: 20px;
    width: 700px;
    background: whitesmoke;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.container form .row{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.container form .row .col{
    flex: 1 1 250px;
}
.container form .row .col .title{
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.container form .row .col .inputs{
    margin: 15px 0;
}
.container form .row .col .inputs span{
    margin-bottom: 5px;
    display: block;
}
.container form .row .col .inputs input{
    width: 100%;
    border: 1px solid white;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
}
.container form .row .col .inputs input:focus{
    border: 1px solid black;
}
.container form .row .col .flex{
    display: flex;
    gap: 15px;
}
.container form .row .col .flex .inputs{
    margin-top: 5px;
}
.container form button{
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: #27ae60;
    color: white;
    margin-top: 5px;
    cursor: pointer;
}
.container form #a1{
    width: 100%;
    height: 40px;
    background-color: white;
}
.container form option{
    width: auto;
    height: 40px;
}
.container form button:hover{
    background: lime;
}